<!DOCTYPE html>
{% load static %}
<html>

<head>
<meta charset="UTF-8">
    <meta name="description" content="Hi, I'm Maurice Yang. I'm an aspiring fullstack web developer who specializes in django">
    <meta name="keywords" content="Code, ">
    <meta name="author" content="Maurice Yang">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Code With Yang{% endblock title %}</title>
    <link rel="icon" href="{% static 'images\CWY.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header id='nav'>
        <p id="logo">Code With Yang</p>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
        <i class="fas fa-bars"></i>
        </label>
        <ul class="nav-links">
            <a href="{% url 'Home' %}"><i class="fas fa-home"></i> Home</a>
            <a href="{% url 'About' %}"><i class="fas fa-user"></i> About</a>
            <a href="{% url 'Contact' %}"><i class="fas fa-address-card"></i> Contact Me</a>
            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
            </label>
        </ul>
    </header>
    <div class="content">
        {% block content %}{% endblock content %}
    </div>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="{% static 'js\script.js' %}"></script>
</body>

</html>